services:
  db:
    image: postgis/postgis:16-3.5
    container_name: annotations_api_db
    restart: always
    env_file:
      - ../.env
    volumes:
      - pg_data:/var/lib/postgresql/data
    ports:
      - "5435:5432"

  api:
    build:
      context: ../
      dockerfile: docker/Dockerfile
    env_file:
      - ../.env
    restart: always
    depends_on:
      - db
    ports:
      - "8000:8000"
    command: >
      sh -c "bash /tmp/scripts/wait-for-it.sh db:5432 --timeout=30 &&
             python manage.py migrate &&
             python manage.py runserver 0.0.0.0:8000"
    volumes:
      - ../:/app:Z
      - ../docker/scripts:/tmp/scripts

volumes:
  pg_data:
