name: Build Docker Image

on:
  pull_request:
    branches:
    - main

env:
  CI_REGISTRY_IMAGE: ghcr.io/${{ github.repository }}

jobs:
  build-api:
    name: Build API Image
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Build Docker Image
        run: |
          docker build -t $CI_REGISTRY_IMAGE:${{ github.sha }} -f docker/Dockerfile .
